@font-face {
    font-family:rickandmortyfont ;
    src: url(../assets/font/rickandmortyfont.ttf);
}
.header{
    display: flex;
    justify-content: center;
    align-content: center;  

    h1{
        font-family:rickandmortyfont ;
        font-size: 2rem;
        margin-top: 20px;    
    }
}

// get_schwifty