@font-face {
    font-family:rickandmortyfont ;
    src: url(../assets/font/rickandmortyfont.ttf);
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;  
    padding: 10px;
    background-color: #141212;

    h1{
        font-family:rickandmortyfont;
        font-size: 2rem;
        margin-top: 20px;   
        color: white; 
    }
    img{
        width: 50px;
    }
}
img:hover{
   transform: scale(1.05);
}

@media screen and (max-width: 800px) {
        .header{
            flex-direction: column;            
        }
}